name: CI

on:
  push:
    branches: [ main ]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run shared Java CI
        uses: mahekshahbad/composite-actions/java-quality-check@v2
        with:
          java-version: "17"
