name: CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Java composite action
        uses: mahekshahbad/composite-actions/.github/actions/java-quality-check@v3
        with:
          java-version: "22"
